@model ASPNETColocAtR.Models.ChangePasswordModel

@{
    ViewBag.Title = "Changement du mot de passe";
}

<h2>Changement de mot de passe pour @ViewBag.Username</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Changer de mot de passe</legend>
        <div id="form_auth">

            <h4 style="color:red; margin-top:15px; margin-bottom:10px;">@ViewBag.Message</h4>
            <div class="editor-label">
                @Html.LabelFor(model => model.oldPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.oldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.newPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.newPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.confirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.confirmPassword)
            </div>
            <p>
                <input type="submit" value="Valider" />
            </p>
        </div>
    </fieldset>
}

<button onclick="location.href='@Url.Action("Index", "Account")';return false;" style="margin-left: 500px;">Retour</button>